:root { 
--white_A700_7f:#ffffff7f; 
--light_green_500_26:#a6c44a26; 
--gray_300_71:#dadada71; 
--gray_100_a2:#f5f5f5a2; 
--amber_600_19:#f8b60219; 
--red_400:#eb5757; 
--green_A400:#2dcb73; 
--light_green_500:#a6c44a; 
--black_900_26:#00000026; 
--blue_600_19:#2d9cdb19; 
--gray_100_3f:#f5f5f53f; 
--gray_300_87:#dadada87; 
--orange_200_00:#f0c86800; 
--gray_400:#c4c4c4; 
--gray_500:#a098ae; 
--white_A700_e3:#ffffffe3; 
--amber_600:#f8b602; 
--light_green_500_19:#a6c44a19; 
--amber_600_63:#f8b60263; 
--blue_600:#2d9cdb; 
--bluegray_100:#d8d5d5; 
--black_900_0c:#0000000c; 
--gray_300:#dadada; 
--orange_300:#f7c44c; 
--orange_200:#f0c868; 
--gray_100:#f5f5f5; 
--orange_200_4f:#f0c8684f; 
--bluegray_900:#2e2e2e; 
--white_A700_00:#ffffff00; 
--gray_500_71:#a098ae71; 
--deep_orange_400_19:#ef6e4d19; 
--white_A700_26:#ffffff26; 
--bluegray_900_0c:#2e2e2e0c; 
--red_A200_19:#ff606b19; 
--amber_600_71:#f8b60271; 
--white_A700:#ffffff; 
--bluegray_901:#292d34; 
}